body{
    background-color: #243561;
}

.top-heading{
    color: white;
    font-weight: bold;
    text-decoration: underline;
    margin: 1.3rem auto;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}
#founder{
    text-decoration: none;
}
.heading{
    text-align: center;
}
.hero-wrapper{
    display: flex;
    flex-direction: row;
    float: center;
    flex-wrap: wrap;
    justify-content: center;
}
.hero-wrapper div{
    padding: 1rem 7rem;
}
.hero-wrapper img{
    height: 12rem;
    padding: auto 3rem;
}
.text-area {
    color: white;
    margin: 1.3rem auto;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}
.bottom-links{
    color: white;
    margin: 1.3rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#left{
    text-align: left;
}
#right{
    text-align: right;
}
.img-wrapper{
    display: flex;
    flex-direction: row;
    float: center;
    flex-wrap: wrap;
    justify-content: center;
}
.img-wrapper img{
    height: 25rem;
    padding: 0.5rem;
}